@import "@govtechmy/myds-style/full.css";

/* Override Tailwind's Default Font */
:root {
	--font-heading: "Poppins", ui-sans-serif, system-ui, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
	--font-body: "Inter", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

html.dark {
	--color-background: rgb(18, 18, 18) !important;
	--color-text: rgb(255, 255, 255);
}

html,
body {
	background-color: rgb(255, 255, 255);
	font-family: var(--font-body) !important;
}

/* Dark mode styles */
html.dark, 
html.dark body {
    background-color: var(--color-background) !important;
    color: var(--color-text);
}

.heading {
	font-family: var(--font-heading) !important;
}